body {
    font-family: Roboto, sans-serif;
    margin-left: 670px;
    margin-right: 0;
    background-color: #fafafa;
    padding-top: 100px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 670px;
    background-color: black;
    z-index: 1;
}


.black-overlay {
    background-color: black;
    position: absolute;
    top: 130px;
    bottom: 620px;
    width: 670px;
    opacity: 0.5;
    z-index: 1; 
}

.overlay-content {
    position: absolute;
    top: 130px;
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
}


.odin-image {
    width: 100px;
   
}


.odinlogo-text {
    color: white;
    font-size: 76px;
    opacity: 1;
    text-align: center;
}

.sidebar-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
}


.header-text {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    font-size: 24px;
    height: 200px;
    margin-bottom: 20px;
}


.signup-container {
    height: 300px;
    padding-left: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-top: 20px;
}


.form-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
}


.btn {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 300px;
    height: 26px;
}



.password:invalid {
    border-color: red; 
}


.password:valid {
    border-color: green;
}



.btn:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
    outline: none;
}


.create-btn {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 12px 56px;
    border-radius: 4px;
    font-size: 18px;
}


.bottom {
    padding-top: 60px;
}


.login {
    color: #596D48;
    font-weight: 500;
    font-size: 18px;
}


.label {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}




.footer {
    position: absolute;
    z-index: 2;
    color: white;
    bottom: 2px;
    left: 220px;
    
}